.App {
  text-align: center;
}

.LoanPayments {
  position: absolute;
  padding: 15px;

  right: 3320px;
  left: 430px;
  width: 1020px;
}

.LoanPayments th {
  /* position: absolute; */
  padding: 15px 45px;
  border-bottom: 1px solid blue;
}

.AllLoans {
  position: absolute;
  padding: 10px 10px 10px 10px;

  left: 130px;
  width: 1020px;
}

.AllLoans td {
  padding: 10px 10px 10px 10px;

  left: 130px;
  width: 1020px;
}

.AllLoans input {
  width: 140px;
}
